<h1>Your Dashboard</h1>
<p>Create a new repair ticket, view open repair tickets, pay your rent, or send a messsage to management. Thank you for residing with us.</p>
<ul>
	<li><%= link_to 'New ticket', new_ticket_path %></li>
	<li><%= link_to 'Open Tickets', controller: 'tickets' %></li>
	<li><a href="#">Pay Rent</a></li>
	<li><a href="#">Talk to MGMT</a></li>
</ul>






