<div class="hm-center">
<p class="hm-title">
	Capitol Domionion Residences
</p>

<p class="hm-desc">
		Live Here, Work Here, Love Here
</p>

<p class="hm-text">
	Capitol Dominion is one of the leading Washington D.C. capitol regions residental providers. With newly renovated apartments and single family housing, we look to provide you with love, luxury, and lifestyle.
</p>

<p>
	<a href="/users/sign_in">Sign in if you are a resident</a> | or <a href="/more">View More</a>
</p>


