/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {
	margin-top: 3.6em;
	margin:50px 0px; padding:0px;
	text-align:center;
}
.hm-bg {
	background: url(http://www.freeimages.com/pic/l/v/va/vartian/1437636_74535967.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	display: block;
	position: fixed;
	height: 100%;
	width: 100%;
}

.hm-title {
	font-size: 2em;
	color: #333;
}

.hm-desc {
	font-size: 1em;
	color: #333;
	font-size: 1.5em;
}

.hm-center {
	width:800px;
	height: 500px;
	margin:0px auto;
	margin-top: 4em;
	text-align:left;
	padding:15px;
	border:1px solid #333;
	background-color:#fff;
	opacity: .8
}

.devise-center {
	width:300px;
	margin:0px auto;
	margin-top: 4em;
	text-align:left;
	padding:15px;
	border:1px solid #333;
	background-color:#fff;
}

.hm-button {
	background-color: purple;
	color: white;
	font-size: 2em;
	border-radius: 25px;
}
